## Lists, Dictionaries and Sets in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [1]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Add 10 to list l1 given above.

In [3]:
l1.append(10)

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

Remove 10 from l1.

In [5]:
l1.remove(10)

In [6]:
l1

['learning', 'Python', 'is fun?', True]

Joining 2 lists

In [7]:
l1 = ['learning', "Python", 'is fun?', True]
l2 = list(("learning", "for", "life", True))

In [8]:
print(l1 + l2)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

Find Range and Mean of l3.

l3 = [2,4,6,8]

If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [9]:
l3 = [2,4,6,8]
l3

[2, 4, 6, 8]

In [10]:
range_l3 = max(l3) - min(l3)
print("Range of L3 is ", range_l3)

Range of L3 is  6

In [11]:
mean_l3 = sum(l3) / len(l3)
print("Mean of L3 is ", mean_l3)

Mean of L3 is  5.0

Count the occurances of an element in a given list.

Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

In [12]:
l4 = [0,1,3,3,5,5,7,9]
l3 = l3 + l4
l3

[2, 4, 6, 8, 0, 1, 3, 3, 5, 5, 7, 9]

In [13]:
print("Occurance of 5 in l3 is  ",l3.count(5))

Occurance of 5 in l3 is   2

Sorting and Reversing a list

sort and print l3 in ascending and descending order sequentially

In [14]:
l3.sort()

In [15]:
print("Sorted l3 in ascending order ", l3)

Sorted l3 in ascending order  [0, 1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9]

In [16]:
l3.sort(reverse = True)
print("Sorted l3 in Descending order ", l3)

Sorted l3 in Descending order  [9, 8, 7, 6, 5, 5, 4, 3, 3, 2, 1, 0]

Functions

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [17]:
def sum_3(a, b, c):
    return a + b+ c

In [18]:
print(sum_3(2,4,6))

12

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

Write the same above **sum_3** function using lambda.

In [19]:
f = lambda a,b,c: a+b+c

In [20]:
print(f(2,4,6))

12

# Numpy

We have seen python basic data structures in our last section. They are great but lack specialized features for data analysis. Like, adding roows, columns, operating on 2d matrices aren't readily available. So, we will use *numpy* for such functions.

In [21]:
import numpy as np

Numpy operates on *nd* arrays. These are similar to lists but contains homogenous elements but easier to store 2-d data.

In [22]:
l1 = [1,2,3,4]
nd1 = np.array(l1)
print(nd1)

l2 = [5,6,7,8]
nd2 = np.array([l1,l2])
print(nd2)

[1 2 3 4]
[[1 2 3 4]
 [5 6 7 8]]

Sum functions on np.array()

In [23]:
print(nd2.shape)

print(nd2.size)

print(nd2.dtype)

(2, 4)
8
int32

Create an identity 2d-array or matrix (with ones across the diagonal).

In [24]:
print(np.identity(2))

[[1. 0.]
 [0. 1.]]

Create a 2d-array or matrix of order 3x3 with values = 9,8,7,6,5,4,3,2,1 arranged in the same order by using matrix function.

In [25]:
l1 = [9,8,7]
l2 = [6,5,4]
l3 = [3,2,1]
a = np.matrix([l1,l2,l3])
print(a)

[[9 8 7]
 [6 5 4]
 [3 2 1]]

Reverse both the rows and columns of the given matrix.

In [26]:
a.transpose()

matrix([[9, 6, 3],
        [8, 5, 2],
        [7, 4, 1]])

Add + 1 to all the elements in the given matrix.

In [27]:
a+1

matrix([[10,  9,  8],
        [ 7,  6,  5],
        [ 4,  3,  2]])

Similarly you can do operations like scalar  substraction, division, multiplication (operating on each element in the matrix)

Find the mean of all elements in the given matrix nd6.
nd6 = [[  1   4   9 121 144 169]
       [ 16  25  36 196 225 256]
       [ 49  64  81 289 324 361]]

In [28]:
nd6 = [[ 1, 4, 9, 121, 144, 169], [16,25,36,196,225,256], [49,64,81,289,324,361]]

In [29]:
nd6 = np.matrix(nd6)
nd6.mean()

131.66666666666666

Find the dot product of two given matrices.

In [30]:
a

matrix([[9, 8, 7],
        [6, 5, 4],
        [3, 2, 1]])

In [31]:
nd6

matrix([[  1,   4,   9, 121, 144, 169],
        [ 16,  25,  36, 196, 225, 256],
        [ 49,  64,  81, 289, 324, 361]])

In [32]:
x = np.dot(a, nd6)

In [33]:
print(x)

[[ 480  684  936 4680 5364 6096]
 [ 282  405  558 2862 3285 3738]
 [  84  126  180 1044 1206 1380]]

# Pandas

We have seen Numpy in the last section. It is good at performing math operation on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost same as nd arrays in numpy, with a additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [34]:
import numpy as np
import pandas as pd

In [35]:
#Example

series1 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series1

key1    1
key2    2
key3    3
dtype: int64

Convert a given dict to pd series.

In [36]:
d1 = {'a': 1, 'b': 2, 'c': 3}

In [37]:
series2 = pd.Series(d1)
series2

a    1
b    2
c    3
dtype: int64

You can directly use numpy functions on series.

Find the dot product of both the series create above

In [38]:
np.dot(series1,series2)

14

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [39]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

Select second row in the above dataframe df1.

In [40]:
df1.iloc[1]

a    2
b    4
c    7
Name: 1, dtype: int64

Select column c in second row of df1.

In [41]:
df1.loc[1,'c']

7

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973–74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [42]:
## Reading a dataset from a csv file using pandas.
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']

Following questions are based on analysing a particular dataset using dataframes.

Check the type and dimensions of given dataset - mtcars.

In [43]:
mtcars.dtypes

name     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [44]:
mtcars.size

384

Check the first 10 lines and last 10 lines of the given dataset- mtcars.

In [45]:
mtcars.head(10)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [46]:
mtcars.tail(10)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
name,,,,,,,,,,,,
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

Print all the column labels in the given dataset - mtcars.

In [47]:
mtcars.columns

Index(['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

Select first 6 rows and 3 columns in mtcars dataframe.

In [48]:
mtcars.iloc[0:6,0:3]

                                name   mpg  cyl
name
Mazda RX4                  Mazda RX4  21.0    6
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6
Datsun 710                Datsun 710  22.8    4
Hornet 4 Drive        Hornet 4 Drive  21.4    6
Hornet Sportabout  Hornet Sportabout  18.7    8
Valiant                      Valiant  18.1    6